.pt-70 {
    padding-top: 70px;
}
.pb-70 {
    padding-bottom: 70px;
}
.bg-gray {
    background-color: #302c2c;
}
.pb-40 {
    padding-bottom: 40px;
}
.bg-red {
    background: red;
    padding: 30px 0;
}